@import '~bootstrap/less/bootstrap';

.window-header {
  margin: 1em 0;
}

.window-body {
  .input-group-btn:first-child > .btn {
    margin-right: -2px;
  }

  .fixed-list {
    position: fixed;
    bottom: 1em;
    top: 4em;
    width: 50%;
    padding-right: 30px;

    input {
      margin-bottom: .5em;
    }

    .entry-list {
      overflow-y: auto;
      height: 100%;
    }
  }
}
